@import "tailwindcss";


html {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: clamp(12px, 4vw, 18px);
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
}
p {
  font-size: 1rem;
  font-weight: 500;
}
.p2 {
  font-size: 0.8rem;
  font-weight: 300;
}

.alert {
  color: red
}

:root {
    --color-background: #F4F3EF;
    --color-alert: #FB4B27;
    --color-primary: #34332F;
    --color-secondary: #9A9A9A;
    --color-aceent: #FCDB29;
    --color-accent-active: #fde672;
    --color-white-bg: #FFFFFF;
  }

@theme {
  --color-background: #F4F3EF;
  --color-alert: #FB4B27;
  --color-primary: #34332F;
  --color-secondary: #9A9A9A;
  --color-aceent: #FCDB29;
  --color-accent-active: #fde672;
  --color-white-bg: #FFFFFF;
}





.rizzui-input-field {
  outline: none!important;
  
}

