/* overall zone */

.overall {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    background-color: var(--color-white-bg);
}

/* top-container zone */

.top-container {
    margin-top: 4.5rem;
    width: 22.5rem;
}

.hello {
    color: var(--color-secondary);
}

.highlight {
    color: var(--color-alert);
}

/* second-container zone */

.second-container {
    width: 22.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.search-box {
    width: 22.5rem;
    height: 2.5rem;
    background-color: var(--color-background);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}

.search-input {
    color: var(--color-secondary);
}

.category-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circle-button {
    border: none;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* third-container zone */

.third-container {
    width: 22.5rem;
    margin-bottom: 2rem;
}

.th-top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.allfood-container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    justify-content: space-between;
}

.food-container {
    width: 10.5rem;
    height: 16rem;
    background-color: var(--color-white-bg);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.food-pic {
    position: relative;
    width: 10.5rem;
    height: 14rem;
    background-color: var(--color-background);
    border-radius: 16px;
}

.food-pic img {
    width: 100%;
    height: 14rem;
    object-fit: cover;
    border-radius: 16px;
  }

.detail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 14rem;
}

.exp-date {
    width: fit-content;
    height: 1.25rem;
    border-radius: 16px;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: rgba(154, 154, 154, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.exp {
    font-size: 0.75rem;
    color: var(--color-white-bg);
}

.space-for-price {
    display: flex;
    justify-content: flex-end;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.price {
    width: fit-content;
    height: 1.3rem;
    border-radius: 16px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: var(--color-aceent);
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-number {
    font-size: 0.75rem;
    color: var(--color-primary);
}

.food-description-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.food-name {
    color: var(--color-primary);
}

.food-seller {
    font-size: 0.6rem;
    color: var(--color-secondary);
}

/*menu-bar*/

.menu-bar {
    width: 100vw;
    height: 4rem;
    background-color: var(--color-background);
    position: fixed;
    bottom: 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 23.5rem;
    margin-top: 0.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.5rem;
}

.menu home-button {
    color: var(--color-primary);
}

.menu fridge-button {
    color: var(--color-alert);
}

.menu plus-line-button {
    color: var(--color-primary);
}

.menu profile-button {
    color: var(--color-primary);
}

