.inpost-overall {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Inpost-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user-wrapper {
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.profile {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--color-secondary);
}

.inpost-text {
    color: var(--color-primary);
}

.show-pic {
    width: 100%;
    border-radius: 16px;
}




.name-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nameofmaterial {
    color: var(--color-primary);
}

.inpost-price {
    color: var(--color-aceent);
}

.contact {
    height: 4.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.exp-detail {
    background-color: var(--color-background);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.exp-detail-text {
    color: var(--color-secondary);
}

.remove-after-sell {
    width: 22.5rem;
    height: 3rem;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}