.profile-detail-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.profile-pic-name {
    display: flex;
    flex-direction: column;
    width: 10.75rem;
}

.picture-profile {
    width: 10.75rem;
    height: 10.75rem;
    border-radius: 50%;
    border: 1px var(--color-aceent) solid;
}



.rank-banner {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: var(--color-background);
    border-radius: 16px;
}

.sec-text {
    color: var(--color-secondary);
}

.success-feedback {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 16px;
    background-color: var(--color-aceent);
    position: relative;
    padding-top: 1rem;
    padding-bottom: 0.8rem;
    padding-left: 1.3rem;
}

.success-text {
    width: 60%;
}

.success-feedback img {
    position: absolute;
    bottom: 0.8rem;
    left: 12rem;
}

.sell-number {
    width: 100%;
}

.sellnum-banner {
    width: 100%;
    border-radius: 16px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    background-color: var(--color-background);
    justify-content: space-between;
    align-items: center;
}

.contact-in-profile {
    width: 100%;
    border-radius: 16px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    background-color: var(--color-background);
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-profilepage {
    gap: 0.25rem;
    align-items: center;
}

.con-tect {
    color: var(--color-secondary);
}

.edit-logout {
    width: 100vw;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    background-color: var(--color-background);
    border-left: 16px;
    border-right: 16px;
    box-shadow: 0px -10px 5px -6px rgba(0,0,0,0.15);
}

.edit {
    color: var(--color-secondary);
}

.logout {
    color: var(--color-secondary);
}

.bottom-container {
    height: 4rem;
}